<div>
  <p *ngIf="loading"><app-spinner></app-spinner></p>

  <input
    type = 'text'
    style = "padding: 0.3%;
            margin-top: 5%;
            margin-left: 41.5%;
            width: 10%;
            border: none;
            outline: none;"
    placeholder = "Search for games"
    [(ngModel)]="search"
  >
  <select
    style = "padding: 0.3%;
            margin-top: 5%;"
    [(ngModel)]="filter">
    <option value="">Genre</option>
    <option>Shooter</option>
    <option>MMOARPG</option>
    <option>ARPG</option>
    <option>MMORPG</option>
    <option>Strategy</option>
    <option>Battle Royale</option>
    <option>Action RPG</option>
    <option>Fighting</option>
  </select>

  <app-navbar></app-navbar>

  <app-modal *ngIf="modalService.visibility | async"
             [id] = modalService.visibility.getValue()
  ></app-modal>

  <div *ngIf="games$ | async as games">
    <app-block
      *ngFor="let game of games | filter: filter | search: search"
      [game]="game"
    ></app-block>
  </div>
</div>
