p{
  color: darkgrey;
  font-size: x-large;
}
br{
  margin-bottom: 1%;
}
.container{
  display: inline-block;
  margin: 4% 2%;
}
.block {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 365px;
  padding: 0;
  border-radius: 12px;
  border: 0;
  background-color: #404242;
  transition: transform .2s;
}
.block:hover{
  transform: scale(1.01);
  box-shadow: 0 0 15px #000000;
}
